django==2.2.28
gunicorn==20.0.4
django-heroku==0.3.1
djangorestframework==3.11.2

Pygments==2.7.4
Markdown==3.2.1
coreapi==2.3.3
psycopg2==2.8.6
dj-database-url==0.5.0

whitenoise==5.0.1
PyYAML==5.4
django-cors-headers==3.11.0

django-extensions
django-import-export
keras
tensorflow
PIL



