{% extends "app/layout.html" %}

{% block content %}

<h2> About Forest Mensuration System</h2>
<h3>{{ message }}</h3>

<p>Forest mensuration is the science of measuring forest vegetation and products. It is a branch of forestry that
     deals with the determination of dimensions (e.g. diameter, height, volume etc.), form, age, and increment of 
     single trees, stands or whole woods, either standing or after felling. Forest mensuration is one of the cornerstones
      in the management of forestry resources. Forest measurement is mainly concerned with determining the amount and quality of 
    wood and other forest products available for utilization. The commonest quantitative parameters described in
     measurement includes diameter, age, cross sectional area, length or height, volume form or shape.

    Forest mensuration needs to be timely, highly precise, less costly and with minimal errors. However, 
    faulty tools, and human error in measurements, high costs of labour and purchasing tools have been affecting 
    forest mensuration. This system wil reduce time, labour, data entry errors and others errors 
    due to faulty tools like clinometers, diameter tapes, and callipers. 
    
    The basic feature of this system is a mobile application for data collection and this web 
    application for viewing, processing, analysing the data. The applications will be connected to a cloud database 
    for synchronization. The system will be using a mobile phone camera to calculate tree height and DBH that will be 
    used for calculating standing and stands tree volumes. The system shall also be able to calculate Mean and Current
     Annual Increments (MAI & CAI). In addition the system shall have a counter for Forest stock taking operation.
    </p>

{% endblock %}
