{% extends "app/layout.html" %}

{% block content %}

<h2>Contact The Developer</h2>
<h3>{{ message }}</h3>

<address>
    Chikondi Felix Kulapani <br />
    UVGV Lilongwe Limited <br />
    Post Office Box 40044 <br />
    Lilongwe <br />
     
    <span class="" ></span><abbr title="Phone Number">Cell:</abbr>
    <a  href="tel:+265999368838">0999 368 838</a>/ <a href="tel:+265882010626" >0882 010 626</a>
</address> 

<address>
    <span class="glyphicon glyphicon-envelope" ></span> <strong>Email:</strong>   <a href="mailto:cfkulapani@hotmail.com">cfkulapani@hotmail.com</a> /
    <a href="mailto:ckulapani@gmail.com">ckulapani@gmail.com</a>
</address>

{% endblock %}
