{% extends "app/layout.html" %}

{% block content %}

<div class="jumbotron jumbotron-fluid">
    <h1>Django</h1>
    <p class="lead">Django is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
    <p><a href="https://www.djangoproject.com/" class="btn btn-primary btn-large">Learn more &raquo;</a></p>
</div>

<div class="row">

    <div class="col-md-3">
        <h2>Height & DBH</h2>
        <p>You can easily publish to Microsoft Azure using Visual Studio. Find out how you can host your application using a free trial today.</p>
        <p><a class="btn btn-default" href="http://azure.microsoft.com">Height & DBH &raquo;</a></p>
    </div>

    <div class="col-md-3">
        <h2>Stand Volumes</h2>
        <p>
            Django gives you a powerful, patterns-based way to build dynamic websites that
            enables a clean separation of concerns and gives you full control over markup
            for enjoyable, agile development.
        </p>
        <p><a class="btn btn-default" href="https://djangobook.com/django-tutorials/">Volumes &raquo;</a></p>
    </div>
    <div class="col-md-3">
        <h2>CAI & MAI</h2>
        <p>check out the Current Annual Increment (CAI) and Mean Annual Increments (MAI) of different blocks</p>
        <p><a class="btn btn-default" href="https://pypi.org/">CAI & MAI &raquo;</a></p>
    </div>
    <div class="col-md-3">
        <h2>Survival Count</h2>
        <p>check survival percentages in respect to blocks and planting year.</p>
        <p><a class="btn btn-default" href="http://azure.microsoft.com">Survival Count &raquo;</a></p>
    </div>
   
</div>

{% endblock %}
