{% if user.is_authenticated %}
<form id="logoutForm" action="/logout/" method="post" class="navbar-right">
    {% csrf_token %}
    <ul class="nav navbar-nav navbar-right">
        <li><span class="navbar-brand log">Welcome {{ user.username }}</span></li>
        <li><a class="logoff" href="javascript:document.getElementById('logoutForm').submit()"><span class="glyphicon glyphicon-log-out"></span> Log off</a></li>
    </ul>
</form>

{% else %}

<ul class="nav navbar-nav navbar-right">
    <li><a class="log" href="{% url 'login' %}"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
</ul>

{% endif %}
